// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-button .btn-primary{
    float: right;
    width: 80%;
    background-color: #0e9688 !important;
  }